body {
  background-color: #ac8057;
  border-width: 20px;
    border-style: solid; 
    border-color: rgb(70, 13, 13);
}

.space{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

li {
  display: inline;
}

a {
  display: block;
  padding: 8px;
  background-color: #e9d0b4;
}

img.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  }

.colorstrip{
  width: 100%; height: 2px;
  border-style: solid;
  border-color: rgb(77, 50, 32);
  background-color: rgb(77, 50, 32);
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

P { text-align: center }

h1 {
  color: #415c69;
  font-family: 'Times New Roman', serif;
  font-size: xx-large;
  font-variant: small-caps;
  position: center;
  text-align: center;
  border-width: 5px;
    border-style: solid; 
    border-color: rgb(70, 13, 13);
    text-shadow: 2px 2px white;
}


h2{
  color: #415c69;
  font-family: 'Times New Roman', serif;
  font-size: x-large;
  font-variant: small-caps;
  position: center;
  text-align: center
}

h3{
  color: #415c69;
  font-family: 'Times New Roman', serif;
  font-size: large;
  font-variant: small-caps;
  position: center
}

a:link{
  color: #415c69;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: large;
  text-decoration: none;
  display: inline-block
}


a:visited{
  color: #415c69;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: large;
  text-decoration: none;
  display: inline-block
}

a:hover{
  border:4px solid purple;  
 }

 

